@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
html, body {
  padding: 0;
  margin: 0;
  background: white;
  -ms-scroll-chaining: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  -ms-overflow-style: none;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
}

@media all and (-ms-high-contrast: none) {
  html, body {
    display: block;
  }
}

* {
  transition: all 0.2s;
  box-sizing: border-box;
}

div, section, p, main, aside, header, footer, article, figure, abbr, form {
  padding: 0;
  margin: 0;
  position: relative;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-decoration: none;
  text-overflow: ellipsis;
  display: block;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

input, select, textarea {
  border: none;
}
input:-webkit-autofill, select:-webkit-autofill, textarea:-webkit-autofill {
  background: inherit;
  color: inherit;
  -webkit-text-fill-color: inherit;
}
input:focus, select:focus, textarea:focus {
  outline: none;
}
input:disabled, select:disabled, textarea:disabled {
  box-shadow: none !important;
  opacity: 0.75;
}

button {
  padding: 6px 12px;
  border: none;
  outline: none;
  cursor: pointer;
}

button[disabled], a[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
  filter: grayscale(50%);
}
.primary_btn[disabled]:hover, .primary_btn[disabled]:focus {
  background-color: #f6b716;
  border: 2px solid #f6b716;
}

button > a {
  text-decoration: none;
}

li > a {
  text-decoration: none;
}
li > a:focus {
  outline: none;
}

.link {
  text-decoration: underline;
}

.bold {
  font-weight: 600;
}

figcaption {
  text-align: center;
  font-style: italic;
}

.icon_wrapper {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
}
.icon_wrapper:focus img, .icon_wrapper:hover img {
  transform: scale(1.25);
}

.primary_btn, .secondary_btn {
  padding: 10px 20px;
  border-radius: 15px;
  display: block;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
  border: 2px solid #f6b716;
}

.primary_btn {
  background: #f6b716;
  box-shadow: 0 7.5px 15px -3.75px rgba(246, 183, 22, 0.4);
}
.primary_btn:hover, .primary_btn:focus {
  background: transparent;
}

.secondary_btn {
  background: transparent;
}
.secondary_btn:hover, .secondary_btn:focus {
  background: #f6b716;
}

.tertiary_btn {
  background: transparent;
  font-size: 0.85rem;
  color: rgba(0, 0, 0, 0.75);
}
.tertiary_btn:hover, .tertiary_btn:focus {
  transform: scale(1.2);
}

.yellow_title {
  color: #f6b716;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

.normal_link {
  color: black;
}
.normal_link:hover, .normal_link:focus {
  color: #f6b716;
}

button.close {
  position: absolute;
  z-index: 15;
  right: -10px;
  top: -10px;
  width: 40px;
  height: 40px;
  padding: 7.5px;
  border-radius: 15px;
  background: white;
  box-shadow: 0 7.5px 15px -3.75px rgba(0, 0, 0, 0.5);
}
button.close:hover, button.close:focus {
  transform: translateY(-3px);
  box-shadow: 0 7.5px 15px 0 rgba(0, 0, 0, 0.75);
  }

.container {
  background: white;
  box-shadow: 0 7.5px 15px -3.75px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 10px 15px;
}

.not_home main {
  margin-top: 100px;
  padding: 20px;
}
.not_home main h1 {
  text-align: center;
}

.heading_wrapper {
  text-align: center;
  margin: 0 auto 40px;
}

.page_bg {
  width: 90%;
  height: 50vh;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
}

table.hoverable tbody tr:hover {
  background-color: rgba(0,0,0,.25);
  cursor: pointer;
}
table.hoverable tbody tr.notHoverable:hover  {
  background-color: transparent;
  cursor: initial;
}

form {
  padding: 10px 15px;
  background: white;
  box-shadow: 0 7.5px 15px -3.75px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  overflow: hidden;
}
form::before, form::after {
  content: "";
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}
form::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  z-index: 10;
}
form::after {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: black;
  z-index: 11;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
form.isLoading::before, form.isLoading::after {
  opacity: 1;
  visibility: visible;
}
form.isLoading::after {
  animation: ripple 1s ease-in-out infinite alternate;
}
form fieldset {
  border: none;
  padding-left: 0;
  padding-right: 0;
}
form fieldset legend {
  text-align: center;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 500;
}
form .radio_container {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}
form .radio_container legend, form .radio_container label {
  width: 100%;
}
form .radio_wrapper {
  cursor: pointer;
}
form .radio_wrapper label {
  background: rgba(128, 128, 128, 0.1);
  padding: 10px 20px !important;
  border: 1px solid gray;
  border-radius: 15px;
  font-weight: 400 !important;
  font-size: 0.9rem !important;
}
form .radio_wrapper input[type=radio] {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  z-index: -10;
  opacity: 0;
}
form .radio_wrapper input[type=radio]:focus + label {
  box-shadow: 0 0 10px 2px rgba(34, 139, 34, 0.5);
}
form .radio_wrapper input[type=radio]:checked + label {
  box-shadow: 0 0 0 2px forestgreen;
}
form .input_wrapper {
  margin: 15px 0;
}
form .input_wrapper.horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}
form .input_wrapper.horizontal label {
  padding: 0 8px;
  flex: 1;
  flex-grow: 1;
}
form .input_wrapper.horizontal input, form .input_wrapper.horizontal select, form .input_wrapper.horizontal textarea {
  width: auto;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  form .input_wrapper.horizontal {
    display: block;
  }
  form .input_wrapper.horizontal label {
    padding: 8px 0;
  }
  form .input_wrapper.horizontal input, form .input_wrapper.horizontal select, form .input_wrapper.horizontal textarea {
    width: 100%;
  }
  form .input_wrapper.horizontal.no_bold > * {
    display: inline;
    width: auto;
  }
}
form .input_wrapper label, form .input_wrapper legend {
  display: inline-block;
  padding: 8px 0;
  font-weight: 500;
}
form .input_wrapper.no_bold label {
  font-weight: 400;
  font-size: 0.85rem;
}
form .input_wrapper input, form .input_wrapper select, form .input_wrapper textarea {
  font-family: inherit;
  display: block;
  background: rgba(128, 128, 128, 0.1);
  padding: 12px 24px;
  border: 1px solid gray;
  border-radius: 15px;
  box-shadow: 0 7.5px 15px -3.75px rgba(128, 128, 128, 0.4);
  width: 100%;
}
form .input_wrapper input:focus, form .input_wrapper select:focus, form .input_wrapper textarea:focus {
  box-shadow: 0 0 0 2px #f6b716;
}
form .button_wrapper {
  text-align: center;
}
form .button_wrapper button {
  display: inline-block;
  margin: 0 12px;
}

@keyframes ripple {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

.server_message {
  margin: 15px 0;
  padding: 10px 15px;
  border-radius: 15px;
  font-weight: 500;
  font-size: .9rem;
  border: 1px solid currentColor;
}
.server_message.error_el {
  background: rgba(255, 0, 0, 0.15);
  color: red;
}
.server_message.success_el {
  background: rgba(0, 128, 0, 0.15);
  color: green;
}
.server_message.warning_el {
  background: rgba(255, 255, 0, 0.15);
  color: #be901c;
}

.link_to_page {
  margin: 20px auto 0;
  text-align: center;
}
.link_to_page h3 {
  margin: 0 auto 5px;
}

.link_to_page p {
  margin-bottom: 15px;
}

.link_to_page a {
  text-decoration: none;
  font-size: .85rem;
  color: rgba(0,0,0,.75);
}

.error_occured {
  display: block !important;
}