.homepage {
  flex-basis: auto;
}
.homepage main {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@media all and (-ms-high-contrast: none) {
  .homepage main {
    position: static;
  }
}
.homepage main .main_banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 600px;
}
.homepage main .main_banner h2 {
  color: white;
  text-shadow: 0 0 10px black;
  font-size: 2.5rem;
  text-align: center;
}
.homepage main .main_banner form {
  text-align: center;
  background: transparent;
  padding: 0;
  box-shadow: none;
  overflow: visible;
}
.homepage main .main_banner form .where2rent_wrapper label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
  cursor: text;
}
.homepage main .main_banner form .where2rent_wrapper input {
  width: 100%;
  padding: 15px 20px;
  background: white;
  box-shadow: 0 7.5px 15px -3.75px rgba(0, 0, 0, 0.5);
  /* box-shadow: 0 7.5px 15px -3.75px rgba(255,255,255, 0.5); */
  border-radius: 15px;
  font-size: 1.2rem;
}
@media all and (-ms-high-contrast: none) {
  .homepage main .main_banner form .where2rent_wrapper input:-ms-input-placeholder {
    color: transparent !important;
  }
}
.homepage main .main_banner form .where2rent_wrapper input::placeholder {
  color: transparent;
  transition: color 0.15s;
}
.homepage main .main_banner form .where2rent_wrapper input:valid + label, .homepage main .main_banner form .where2rent_wrapper input:focus + label {
  left: 5px;
  top: -25%;
  color: white;
}
.homepage main .main_banner form .where2rent_wrapper input:valid::placeholder, .homepage main .main_banner form .where2rent_wrapper input:focus::placeholder {
  color: rgba(0, 0, 0, 0.75);
}
.homepage main .main_banner form .where2rent_wrapper input:valid:-ms-input-placeholder, .homepage main .main_banner form .where2rent_wrapper input:focus:-ms-input-placeholder {
  color: initial !important;
}
.homepage main .main_banner form .where2rent_wrapper button[type=submit] {
  background: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
.homepage main .main_banner form a {
  color: white;
  text-decoration: none;
  text-align: center;
  margin-top: 5px;
  display: block;
  padding: 7.5px;
}
.homepage main .discover_branch {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 45px;
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  text-align: center;
}
.homepage main .discover_branch:focus, .homepage main .discover_branch:hover {
  outline: none;
}
.homepage main .discover_branch .icon_wrapper {
  margin: 5px auto 0;
}
.homepage section {
  z-index: 5;
  margin-top: 100vh;
  background: white;
  padding: 40px 40px;
  display: flex;
  flex-direction: row;
}
@media all and (-ms-high-contrast: none) {
  .homepage section {
    margin-top: 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .homepage section {
    flex-direction: column-reverse;
    padding: 70px 15px 15px;
  }
}
.homepage section .branch_img {
  width: 100%;
  padding: 20px 35px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .homepage section .branch_img {
    margin: 25px auto 0;
  }
}
.homepage section .branch_img img {
  border-radius: 15px;
  box-shadow: 0 7.5px 15px -3.75px rgba(0, 0, 0, 0.25);
}
.homepage section .branch_section h2 {
  position: relative;
  text-align: center;
  font-size: 1.75rem;
}
.homepage section .branch_section h2::after {
  content: "";
  width: 15%;
  height: 2px;
  background: #f6b716;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
}
.homepage section .branch_section p {
  text-align: center;
  margin: 5px auto 10px;
}
.homepage section .branch_section .opening_hours {
  background: white;
  box-shadow: 0 7.5px 15px -3.75px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .homepage section .branch_section .opening_hours {
    flex-direction: column;
  }
  .homepage section .branch_section .opening_hours .open {
    padding: 10px 0;
  }
}
.homepage section .branch_section .opening_hours .open {
  text-align: center;
}
.homepage section .branch_section .opening_hours .open > * {
  display: block;
}
.homepage section .branch_section .opening_hours .open .time {
  font-size: 1.5rem;
  font-weight: 500;
}
.homepage section .branch_section .opening_hours .open sup {
  font-size: 0.75rem;
  font-weight: 300;
}
.homepage section .branch_section .contact_details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  text-align: right;
  justify-items: center;
  margin: 10px 0;
  padding: 0 15px;
}
@media all and (-ms-high-contrast: none) {
  .homepage section .branch_section .contact_details {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
  }
  .homepage section .branch_section .contact_details > *:first-child {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .homepage section .branch_section .contact_details > *:last-child {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .homepage section .branch_section .contact_details {
    grid-template-columns: 1fr;
    justify-items: left;
    text-align: left;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }
}
.homepage section .branch_section .contact_details .normal_link {
  text-decoration: none;
}
.homepage section .branch_section .branch_description {
  margin: 25px auto 0;
}
.homepage section .branch_section a.primary_btn {
  width: fit-content;
  margin-top: 40px;
  margin-bottom: 15px;
}
@media all and (-ms-high-contrast: none) {
  .homepage section .branch_section a.primary_btn {
    display: inline-block;
    width: auto;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .homepage section .branch_section a.primary_btn {
    margin-left: auto;
    margin-right: auto;
  }
}

.video_wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}
.video_wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  /* background: rgba(255, 255, 255, 0.25); */
  background: rgba(0, 0, 0, 0.25);
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
}
.video_wrapper video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
