.privacy .page_bg {
  background-image: url("/img/pages/privacy/bg.png");
}
.privacy section {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
.privacy section article {
  margin: 40px 0;
}
.privacy h4 {
  display: inline-block;
  margin-bottom: 0;
}
.privacy h4:first-of-type {
  margin-top: 0;
}