footer {
  width: 100%;
  padding: 40px 25px;
  background: lightgray;
  z-index: 5;
  text-align: center;
  font-size: 0.75rem;
  color: black;
  margin-top: auto;
}
footer p {
  padding: 5px;
}