
.car_item main {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "car_details car_name" "car_details car_img";
  grid-gap: 0 40px;
  padding: 20px 60px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .car_item main {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .car_item main > * {
    margin: 20px auto;
    width: 100%;
  }
  .car_item main .car_img {
    right: 0 !important;
    padding: 0 !important;
  }
  .car_item main .car_btn {
    position: static !important;
  }
}
.car_item main .car_details {
  grid-area: car_details;
  box-shadow: 0 7.5px 15px -3.75px rgba(0, 0, 0, 0.25);
  background: white;
  padding: 25px 15px;
  height: min-content;
  border-radius: 20px;
  align-self: start;
}
.car_item main .car_details table {
  width: 100%;
  padding: 10px 0 5px;
}
.car_item main .car_details table caption {
  font-weight: 600;
  font-size: 1.4rem;
  text-align: left;
}
.car_item main .car_details table th {
  color: rgba(0, 0, 0, 0.75);
  font-size: 0.9rem;
  font-weight: 400;
  font-style: italic;
  text-align: left;
}
.car_item main .car_details table td {
  font-weight: 600;
  text-align: right;
}
.car_item main .car_name {
  grid-area: car_name;
  text-align: left;
}
.car_item main .car_name a {
  display: block;
}
@media all and (-ms-high-contrast: none) {
  .car_item main .car_name {
    padding-left: 40px;
  }
}
.car_item main .car_img {
  grid-area: car_img;
  padding: 60px 30px 30px;
  right: 20%;
  max-height: 65vh;
}
.car_item main .car_img img {
  object-fit: contain;
}
.car_item main .car_btn {
  position: absolute;
  bottom: 40px;
  right: 120px;
}
@media all and (-ms-high-contrast: none) {
  .car_item main {
    display: -ms-grid;
    -ms-grid-columns: 30% 1fr 25%;
    -ms-grid-rows: auto 1fr 80px;
    gap: 0 20px;
  }
  .car_item main .car_details {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .car_item main .car_name {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
  }
  .car_item main .car_img {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
  }
  .car_item main .car_btn {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
  }
}
.car_item hr {
  width: calc(100% - 120px);
  margin: 25px auto 0;
}
.car_item #car_details {
  padding: 25px 0 0;
}
.car_item #car_details .car_images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  padding: 25px 60px 60px;
}
.car_item #car_details .car_images figure img {
  object-fit: cover;
}
@media all and (-ms-high-contrast: none) {
  .car_item #car_details .car_images {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
  }
}
@media screen and (-ms-high-contrast: none) and (min-width: 768px) and (max-width: 1023px) {
  .car_item #car_details .car_images {
    -ms-grid-columns: 1fr 1fr;
  }
}
@media screen and (-ms-high-contrast: none) and (min-width: 320px) and (max-width: 767px) {
  .car_item #car_details .car_images {
    -ms-grid-columns: 1fr;
  }
}
@media all and (-ms-high-contrast: none) {
  .car_item #car_details .car_images figure {
    padding: 0 30px;
  }
  .car_item #car_details .car_images figure:first-of-type {
    -ms-grid-column: 1;
  }
  .car_item #car_details .car_images figure:nth-of-type(2) {
    -ms-grid-column: 2;
  }
  .car_item #car_details .car_images figure:nth-of-type(3) {
    -ms-grid-column: 3;
  }
}
.car_item #car_details .car_paragraph {
  padding: 25px 60px;
  width: 100%;
  column-count: 3;
  column-gap: 60px;
  text-align: justify;
}
.car_item #car_details .car_paragraph h2 {
  margin-top: 0;
}
.car_item #car_details .car_paragraph p {
  margin: 15px 0;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .car_item #car_details .car_paragraph {
    padding: 25px 40px;
    column-count: 2;
  }
  .car_item #car_details .car_images {
    padding: 25px 40px 40px;
    grid-template-columns: 1fr 1fr;
  }
  .car_item #car_details .car_images figure:last-of-type {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .car_item #car_details .car_paragraph {
    padding: 25px 20px;
    column-count: 1;
  }
  .car_item #car_details .car_images {
    padding: 25px 20px 20px;
    grid-template-columns: 1fr;
  }
  .car_item #car_details .car_images figure:last-of-type {
    display: none;
  }
}