.rented main section {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 60% auto;
  gap: 30px;
  display: -ms-grid;
  -ms-grid-columns: 60% auto;
  -ms-grid-rows: 1fr;
  align-items: center;
  justify-items: center;
  padding-bottom: 30px;
}

.no_rent_given {
  width: 95%;
  margin: 0 auto;
  max-width: 500px;
}

.request_form_wrapper {
  text-align: center;
  margin-top: 30px;
}
.request_form_wrapper button {
  margin: 10px auto;
}
.request_form_wrapper a {
  font-size: .85rem;
  color: rgba(0,0,0,.75);
}

.information_box {
  padding: 0;
  width: 70%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  margin: 0 auto;
}

.information_box > figure {
  border-radius: 15px;
  overflow: hidden;
}
.information_box > figure img {
  object-fit: cover;
  object-position: center;
}

.success_icon {
  width: 60px;
}
.success_container {
  display: flex;
  padding: 15px 25px;
}
.success_p_container {
  padding-left: 25px;
}

.success_p_container a, .success_p_container a:visited {
  color: inherit;
}

.success_p_container p {
  padding: 5px 0;
}

.qrcode {
  width: 60%;
  padding: 25px 15px;
  text-align: center;
  max-width: 600px;
  justify-self: first baseline;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
}
.qrcode h2 {
  margin: 0;
}
.qrcode figure {
  margin: 25px auto;
  width: 80%;
}

.qrcode a {
  display: block;
  padding-top: 10px;
  color: black;
}
.qrcode p {
  font-size: .9rem;
}


@media screen and (min-width: 320px) and (max-width: 767px) {
  .rented main section {
    grid-template-columns: 1fr;
    grid-template-areas: "IBox" "QR";
  }
  .rented main section > * {
    width: 100%;
  }
  .information_box {
    grid-area: IBox;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;

  }
  .qrcode {
    grid-area: QR;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .rented main section > * {
    width: 100%;
  }
}